@font-face {
	font-family: "Magnit Box";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/Magnit_Box-Bold_Update_May_2023/Magnit_Box-Bold_Update_WEB/Magnit_Box-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Magnit Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Magnit_Release_2803-2023/Magnit_Sans-n-Condensed/Magnit-Sans_WEB/MagnitSans-Regular/MagnitSans-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Magnit Sans";
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/Magnit_Release_2803-2023/Magnit_Sans-n-Condensed/Magnit-Sans_WEB/MagnitSans-Medium/MagnitSans-Medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Magnit Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/Magnit_Release_2803-2023/Magnit_Sans-n-Condensed/Magnit-Sans_WEB/MagnitSans-Bold/MagnitSans-Bold.woff2") format("woff2");
	font-display: swap;
}


